.swiper.img-content .swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255) !important;
}

.swiper.img-content {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.swiper-slide .slideac {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper.img-content .swiper-button-prev::after {
  content: " " !important;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(140deg);
}

.swiper.img-content .swiper-button-prev {
  background: white;
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 35px;
}

.swiper.img-content .swiper-button-next::after {
  content: " " !important;
}

.swiper.img-content:hover .swiper-button-next::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(-45deg);
}

.swiper.img-content:hover .swiper-button-next {
  background: white;
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 35px;
}

.swiper.img-content .swiper-button-next.swiper-button-disabled,
.swiper.img-content .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
